.todoList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.todoList li input[type="text"] {
    padding: 7px;
    margin: 0 10px;
    width: auto;
    max-width: 100%;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 400;
    color: #550101;
    border: none;
  }
  
  .todoList li button {
    margin-left: 10px;
    padding: 5px 16px;
    opacity: 0.3;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #550101;
  }
  
  .todoList li button:hover {
    opacity: 1;
    transition: .3s;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* Стилизовать кастомный checkbox */
.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}

.custom-checkbox .checkmark::after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #550101;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}