.filterBtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filterBtn button {
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}


.filterBtn button.active {
  background-color: #550101;
  color: white;
}

.filterBtn button:hover:not(.active) {
  background-color: #5501011a;
}
  
.filterBtn button:focus {
  outline: none;
}