@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e8e4e4;
  font-family: "Red Hat Display", sans-serif;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}


.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.container {
  border: 1px solid #55010131;
  padding: 20px 60px;
  border-radius: 5px;
}

.submitBottom {
  padding: 12px 18px;
  cursor: pointer;
  margin-left: 10px;
  opacity: 0.3;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #550101;
}

.submitBottom:hover {
  opacity: 1;
  transition: .3s;
}

.title {
  font-size: 70px;
  font-weight: 200;
  color: #550101;
  opacity: 0.3;
  margin-bottom: 20px;
  line-height: normal;
  text-shadow: 
  3px 0px 0 #fff, 1px -3px 0 #fff, 2px -1px 0px #fff, 3px -4px 0 #fff;
}

input:focus {
  outline: none;
}

/* Стилизация для WebKit-браузеров (Chrome, Safari) */
.todoList::-webkit-scrollbar {
  width: 7px; /* Ширина вертикального скроллбара */
  height: 7px; /* Высота горизонтального скроллбара */
}

.todoList::-webkit-scrollbar-track {
  background: #fff; /* Цвет фона трека */
  border-radius: 0px 5px 5px 0px; /* Радиус границ трека */
}

.todoList::-webkit-scrollbar-thumb {
  background: #55010153; /* Цвет ползунка */
  border-radius: 5px; /* Радиус границ ползунка */
}

.todoList::-webkit-scrollbar-thumb:hover {
  background: #550101; /* Цвет ползунка при наведении */
}